/* You can add global styles to this file, and also import other style files */

body{
    height: 820px !important;
    background: black;
    color: #C58917;
}


p-button > button {
    width: 200px;
}

